header span {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    font-style: italic;
}

header ul a {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 25px !important;
    text-decoration: none;
}

a.especial {
    color: white;
    text-align: center;
    padding: 5px 5px 5px 30px;
    border-radius: 12px;
}

.div7 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
}

.div8 ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    list-style-position: inside;
    list-style-type: '\1F534\0020\0020'
}

.div10>p {
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
}



.div13>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
    border: 1px solid darkgray;
}

.div14>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
    border: 1px solid darkgray;
}

.div15 {
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.div15>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}

div>h1 {
    color: #D6000D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50pt;
    padding-bottom: 20px
}

div>p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.solicitar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #D6000D;
    width: 400px;
    height: 50px;
    font-size: 20pt;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}